@{
    ViewData["Title"] = "Palgakalkulaator";
}

@model SalaryInputModel

<div class="col-md-3"></div>
<div class="container col-md-6">
    <div class="d-flex justify-content-center mb-5">
        <h1>@ViewData["Title"]</h1>
    </div>
    <form method="post">
        <div class="mb-3">
            <input class="form-check-input" type="radio" name="SalaryInputType" id="radioNet" value="net" checked onchange="toggleInputs()" />
            <label for="radioNet" class="form-label">Netopalk</label>
            <input asp-for="NetSalary" class="form-control" id="NetSalary"/>
        </div>

        <div class="mb-3">
            <input class="form-check-input" type="radio" name="SalaryInputType" id="radioGross" value="gross" onchange="toggleInputs()" />
            <label for="radioGross" class="form-label">Brutopalk</label>
            <input asp-for="GrossSalary" class="form-control" id="GrossSalary"/>
        </div>

        <div class="mb-3">
            <input class="form-check-input" type="radio" name="SalaryInputType" id="radioEmployer" value="employer" onchange="toggleInputs()"/>
            <label for="radioEmployer" class="form-label">Tööandja kulu</label>
            <input asp-for="EmployerCost" class="form-control" id="EmployerCost"/>
        </div>

        <div class="mb-3">
            <label for="PensionPercent" class="form-label">Pensionisammas (%):</label>
            <select asp-for="PensionPercent" class="form-select" id="PensionPercent">
                <option value="2">2%</option>
                <option value="4">4%</option>
                <option value="6">6%</option>
            </select>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" asp-for="UseTaxFreeIncome" class="form-check-input" id="UseTaxFreeIncomeTax" />
            <label class="form-check-label" for="UseTaxFreeIncomeTax">Arvesta tulumaksuvaba miinimumi</label>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" asp-for="IncludeUnemploymentInsurance" class="form-check-input" id="IncludeUnemploymentInsurance" />
            <label class="form-check-label" for="IncludeUnemploymentInsurance">Arvesta töötuskindlustust</label>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-3 px-5">Arvuta</button>
        </div>
    </form>
</div>
<div class="col-md-3"></div>

@section Scripts {
    <script>
        function toggleInputs() {
            const net = document.getElementById("radioNet").checked;
            const gross = document.getElementById("radioGross").checked;
            const employer = document.getElementById("radioEmployer").checked;

            document.getElementById("NetSalary").disabled = !net;
            document.getElementById("GrossSalary").disabled = !gross;
            document.getElementById("EmployerCost").disabled = !employer;
        }

        window.onload = toggleInputs;
    </script>
}
